 /*Section-1*/

 div#wrapper main section#section-1{
    height:85vh;
    background-image: url('../images/book-coffee.jpg');
    background-size: cover;
    position:relative;
    color:var(--primaryColor);

}

div#wrapper main section#section-1 h1{
    font-size:60px;
    font-weight:900;
    position:absolute;
    top:100px;
    left:100px;
}

div#wrapper main section#section-1 p{
    font-size:26px;
    font-weight:700;
    position: absolute;
    top:300px;
    left:100px;
}

/*Section-2*/

div#wrapper main section#section-2{
    height:100vh;
    background-color: var(--secondaryColor);
    padding-top:50px;
}

div#wrapper main section#section-2 h1{
    font-size:40px;
    font-weight:900;
    color:var(--primaryColor);
    text-align:center;
    margin-bottom:100px;
}

div#wrapper main section#section-2 div#card-wrapper{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    gap:100px 20px;

}

div#wrapper main section#section-2 div#card-wrapper div.card{
    width:30%;
    position:relative;
}

div#wrapper main section#section-2 div#card-wrapper div.card img{
    width:100%;
    height:100%;
}

div#wrapper main section#section-2 div#card-wrapper div.card p{
    background-color:var(--primaryColor);
    color:var(--secondaryColor);
    font-size:18px;
    padding: 5px;;
    position:absolute;
    bottom:0;
    right:0;
}

/* Section-3 */

div#wrapper main section#section-3 video{
   max-width:100%;
   height: auto;
   margin-bottom: -4px;                       
}

/*Section-4*/

div#wrapper main section#section-4{
    background-color: var(--thirdColor);
    color:var(--primaryColor);
    padding:60px 40px 80px;
}

div#wrapper main section#section-4 h3{
    font-size:30px;
    font-weight:700;
    text-align:center;
}

div#wrapper main section#section-4 div#section-4-wrapper{
    margin-top:80px;
    display:flex;
    justify-content: space-between;
    gap:20px;
}

  div#wrapper main section#section-4 div#section-4-wrapper div#section-4-card{
    text-align:center;
  }

div#wrapper main section#section-4 div#section-4-wrapper div#section-4-card i{
    font-size:40px;
    color:var(--primaryColor);
}

div#wrapper main section#section-4 div#section-4-wrapper div#section-4-card p{
    font-size:18px;
    font-weight: 900;
    margin-top:40px;
}

/* Responsive Media Querries*/

@media only screen and (max-width: 450px){
    div#wrapper main section#section-1{
        width:100%;
    }

    div#wrapper main section#section-1 h1{
        font-size:30px;
        top:150px;
        left:50px;
    }

    div#wrapper main section#section-1 p{
        font-size:18px;
        top:400px;
        left:50px;
    }

    div#wrapper main section#section-2{
        height:100%;
    }

    div#wrapper main section#section-2 div#card-wrapper{
        flex-wrap: wrap;
        gap:50px;
    }

    div#wrapper main section#section-2 div#card-wrapper div.card{
        width:100%;
    }

    div#wrapper main section#section-4 div#section-4-wrapper{
            flex-wrap: wrap;
            gap: 50px;
    }

    div#wrapper main section#section-4 div#section-4-wrapper div#section-4-card{
        width: 100%;
    }
}

@media (orientation: landscape) {
    div#wrapper main section#section-1{
        padding:200px
    }
    
    div#wrapper main section#section-1 h1 {
       top: 100px;
       left:50px
    } 

    div#wrapper main section#section-1 p{
        top: 200px;
        left:50px;
    } 

    div#wrapper main section#section-2{
        height:auto;
        padding-bottom: 100px;
    }
}